.container {
  background-image: url("https://i.ibb.co/nmqMSTR/Whats-App-Image-2024-02-07-at-6-35-25-PM.jpg");
  background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
  height: 100vh;
  }
  
  .logo {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
    /* Add animation */
  }
  
/* Define the animation */
/* Define the animation */
@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with full opacity */
  }
}

/* Apply the animation to the logo */
.FarmerLogo {
  animation: fadeIn 4s ease ; /* Apply the animation */
}


  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .docs-list {
    width: 100%;
    overflow: auto;
  }
  
  input[type='search'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  h1{
    color: orange;
    font-size: 22px;
  }

  .Warning{
     background: rgba(148, 146, 146, 0.32);
     color: black;
    margin-top
    : 60px;
    padding: 90px;
    border-radius:8px;
    border: 1px solid black;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .logo {
     
      margin-right: 200px;
     
    }
  }


  
  @media (max-width: 576px) {
   
    .container {
      height: 100vh;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }
  